<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/w3.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/button.css" rel="stylesheet" type="text/css"/>
    <link href="/css/input.css" rel="stylesheet" type="text/css"/>
    <link href="/css/multiselect.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Title</title>
</head>
<body class="main">
<div id="app"></div>

<script src='http://localhost:8000/main.js'></script>

</body>

</html>

