/* LESS */

.button {
    background-color: #F9A825;
    color: #000000;
    border: none;
    border-radius: 10px;
    height: 34px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
}

#button-small {
    width: 280px
}

#button-medium {
    width: 440px;
}

#button-big {
    width: 650px;
}