.with-bot-margin-small {
    margin-bottom: 7px;
}

.with-top-margin-small {
    margin-bottom: 7px;
}

.with-bot-margin-medium {
    margin-bottom: 15px;
}

.with-top-margin-medium {
    margin-bottom: 15px;
}

.with-bot-margin-large {
    margin-bottom: 30px;
}

.with-top-margin-large {
    margin-bottom: 30px;
}